
<table class="navigation">
  <tr class="navigation">
  
  <td {% if page.url == "/" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="index.html">Home</a>
  </td>

  <td {% if page.url == "/bio.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="bio.html">Bio</a>
  </td> 

  <td {% if page.url == "/pubs.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="pubs.html">Pubs</a>
  </td>




   <td {% if page.url == "/math.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="math.html">|Phys301|</a>
  </td>

  
   <td {% if page.url == "/qm1.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="qm1.html">|Phys621|</a>
   </td>


  
</tr>
</table>
