
<table class="navigation">
  <tr class="navigation">
  
  <td {% if page.url == "/" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="index.html">Home</a>
  </td>

  <td {% if page.url == "/bio.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="bio.html">Bio</a>
  </td> 

  <td {% if page.url == "/pubs.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="pubs.html">Pubs</a>
  </td>

  <td {% if page.url == "/talks.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="talks.html">Talks</a>
  </td>

  <td {% if page.url == "/Phys212.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys212.html">|Phys212|</a>
   </td>

   <td {% if page.url == "/Phys301.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys301.html">|Phys301|</a>
   </td>

    <td {% if page.url == "/Phys314.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys314.html">|Phys314|</a>
   </td>

   <td {% if page.url == "/Phys357.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys357.html">|Phys357|</a>
  </td>

     <td {% if page.url == "/Phys603.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys603.html">|Phys603|</a>
  </td>

   <td {% if page.url == "/Phys621.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys621.html">|Phys621|</a>
   </td>

     <td {% if page.url == "/Phys622.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys622.html">|Phys622|</a>
   </td>

      <td {% if page.url == "/Phys721.html" %}class="navigation-selected"{% else %}class="navigation"{% endif %}>
    <a href="Phys721.html">|Phys721|</a>
   </td>


  
</tr>
</table>
